# Normalize historical author aliases for local Git tooling.
Landon Miles <josephlandonmiles@gmail.com> JLM <landonmiles@me.com>
Landon Miles <josephlandonmiles@gmail.com> jlm <landon>
Landon Miles <josephlandonmiles@gmail.com> jlm <josephlandonmiles@gmail.com>
